{% extends 'backoffice/base_admin.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ parent() }} {{ 'bo.horaire.add.title'| trans }} {% endblock %}

{% set menu_horaire        = true %}
{% set menu_horaire_create = true %}

{% block body %}
    <div class="content">
        {{ form_start(form) }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="box-header">
                                <h3 class="box-title">{{ 'bo.jour.ferie.add.h3.title'| trans }}</h3>
                            </div>
                            {{ form_row(form.hrDateDebutSaison) }}
                            {{ form_row(form.hrDateFinSaison) }}
                            {{ form_row(form.hrDebut) }}
                            {{ form_row(form.hrFin) }}
                            <div class="box-footer">
                                <a href="{{ path('horaire_index') }}"
                                   class="btn btn-default pull-left btn-mini-rectif" >
                                    {{ 'bo.button.retour'| trans }}
                                </a>
                                <input type="submit" class="btn btn-primary"
                                       value="{{ 'bo.button.enregistrer'| trans }}" name="new_horaire"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}