<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Ny sekoliko | {% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            <!-- Bootstrap -->
            <!-- material -->
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/assets/css/material-dashboard.css') }}" />
            <link href="{{ asset('plugins/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('plugins/assets/css/fontawesome.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="{{ asset('plugins/assets/css/material-icon.css') }}" rel="stylesheet" />
            <link href="{{ asset('plugins/assets/css/custom.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('plugins/assets/css/') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('plugins/assets/css/datepicker.css') }}" />
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <script src="{{ asset('backoffice/bower_components/html5shiv/dist/html5shiv.min.js') }}"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('plugins/assets/img/Design.svg') }}" />
    </head>
    <body>

    <div class="wrapper">
        <!-- sidebar admin -->
        {{ include("backoffice/base_admin_sidebar.html.twig") }}

        <!-- Main Content -->
        <section class="main-panel">
            {{ include("backoffice/base_admin_header.html.twig") }}
            {% block body %}{% endblock %}
            <!-- Footer -->
            {{ include("backoffice/base_admin_footer.html.twig") }}
            <!-- Modal content -->
            <div id="id-show-entity" class="modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header kl-modal-header text-white">
                            <button type="button" class="close kl-button-close" data-dismiss="modal" aria-label="Close">
                                <i class="mdi-content-clear"></i>
                            </button>
                            <h3 class="kl-show-entity-title text-center"></h3>
                        </div>
                        <div class="modal-body" id="id-show-content-body"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script type="text/javascript" src="{{ asset('backoffice/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/material.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/material-dashboard.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/perfect-scrollbar.jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery.validate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('backoffice/js/star-rating.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/select2/dist/js/select2.full.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery.bootstrap-wizard.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/nouislider.min.js') }}"></script>
            <!-- Datepicker -->
            <script src="{{ asset('plugins/moment/min/moment-with-locales.js') }}"></script>
            <script src="{{ asset('plugins/bootstrap-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="{{ asset('backoffice/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>


            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery.select-bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery.datatables.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/sweetalert2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jasny-bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/fullcalendar.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('plugins/assets/js/jquery.tagsinput.js') }}"></script>
            <!-- Bootbox -->
            <script src="{{ asset('plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
            {# Custom scroll #}
            <script src="{{ asset('backoffice/js/custom-scroll.js') }}"></script>
            <!-- General -->
            <script src="{{ asset('backoffice/js/fastclick.js') }}"></script>
            <script src="{{ asset('backoffice/js/custom.js') }}"></script>
            <script src="{{ asset('backoffice/js/general.js') }}"></script>
            <script src="{{ asset('backoffice/js/calendar.js') }}"></script>
            <script src="{{ asset('backoffice/js/validate.js') }}"></script>
        {% endblock %}
    </body>
</html>
